<!-- This template is used to show a modal that asks the user if he is sure to delete an active -->
<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body>
		<div class="modal fade" id="ActiveDeleteConfirm" tabindex="-1" 
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
		th:fragment="modal(id)" th:id="${id}"> 
			<div class="modal-dialog" role="doc	ument">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Eliminar activo</h5>
		        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" id="modal-body">
				<p>¿Estás seguro de que deseas eliminar el activo con Id <span id="showActiveToConfirm"></span>?</p>
			 </div>	
		      <div class="modal-footer">	
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				
		        <button type="button" 
				class="btn btn-primary DeleteActive" 
				data-parametro="#showActiveToConfirm"
				data-bs-toggle="modal" data-bs-target="#ActiveDeletedMessage"
				data-bs-dismiss="modal">
					Accept <!-- This button is used to open another modal (ActiveDeletedMessage.html) -->
				</button>
		      </div>
		    </div>
		  	</div>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>